<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TeleRobApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C496C631D7F23D900C7DA59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C496C771D7F23DA00C7DA59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C496C821D7F23DA00C7DA59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
